:root {

    // colors
    // primary color
    --primary_color_dark: #1e1e2d;
    --primary_color_light: #d1d3e0;

    // grey color 
    --default_dark: #4F4F4F;
    --default_light: #9899ac;

    // neutral
    --neutral_color_white: #FFFFFF;
    --neutral_color_black: #232C31;

    // body background
    --body_bg: #F3F3F3;


    --border-radius: 6px;
    --transition-global: 0.3s;
}